*{
margin:0;
padding:0;
box-sizing: border-box;
}

html, body{
width:100%;
height:100%;
background-color:black;
color:white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

:root{
  /* Typography Scale */
  --font-xs: 0.75rem;    /* 12px */
  --font-sm: 0.875rem;   /* 14px */
  --font-md: 1rem;       /* 16px */
  --font-lg: 1.25rem;    /* 20px */
  --font-xl: 1.5rem;     /* 24px */
  --font-2xl: 2rem;      /* 32px */
  --font-3xl: 3rem;      /* 48px */
}
:root{
  --borderColor: rgb(58, 56, 56);
}

.parent{
  height:90%;
  width:90%;
  font-size:var(--font-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos{
  height:10%;
  width:100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  border-top:2px solid var(--borderColor)
}
.info{
  color:white;
  font-size: var(--font-2xl);
}

.main{
  height:80%;
  width:100%;
  border:2px solid grey;
}
.head{
  background-color: rgb(57, 3, 252);
border-radius: 50%;
}
.fill{
background-color: rgb(129, 202, 180);
border-radius: 50%;
}
.food{
  background-color: orangered;
  border-radius: 50%;
}
.GameStartScreen,.GameOverScreen{
height:100vh;
width:100vw;
background-color: rgba(8, 129, 235, 0.075);
position:absolute;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
backdrop-filter: blur(5px);
font-size: 30px;
}
.GameOverScreen{
  display:none;
}
.StartButton,.RestartButton{
  font-size: 30px;
  padding:10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition:all ease 0.5s;
}
.StartButton:hover{
  transform:scale(1.1);
}
.RestartButton:hover{
  transform:scale(1.1);
}